<ion-view view-title="Sondages">
  <ion-content>
    <div class="list social-list">
      <a class="item  item-text-wrap animated pulse" href="#/tab/questions2/{{item.id}}"  ng-style="{'background': item.BColor}" ng-repeat="item in items track by $index">

        <h2  class="animated zoomIn" ng-style="{'color': item.color}">{{item.title}}

        </h2>
        <p class="animated zoomIn" ng-bind-html="item.description"></p>
      </a>
      <a href="#/tab/reponses2/{{item.id}}" ng-click="reponses({{items.id}}, {{item.id}})" class="item  item-text-wrap animated pulse" style="background-color : silver; "   ng-repeat="item in items track by $index">

        <h2  class="animated zoomIn" > Résultats {{item.title}}</h2>

      </a>
    </div>
  </ion-content>
</ion-view>
