<ion-view view-title="Quizz">
  <ion-content>
    <div class="list social-list">
      <a class="item  item-text-wrap animated pulse" ng-href="{{item.url}}" target="_blank" ng-style="{'background': item.BColor}" ng-repeat="item in items track by $index">

        <h2  class="animated zoomIn" ng-style="{'color': item.color}">{{item.title}}
          <span class="notify pull-right animated rubberBand" ng-style="{'background': item.color}"></span>
        </h2>
        <p class="animated zoomIn" ng-bind-html="item.description"></p>
      </a>
    </div>
  </ion-content>
</ion-view>
